.DoorOptions{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
  color: #848C93;
  font-size: 14px;
}
.DoorOptions div{
  margin: 5px 0;
}

.Common, .CommonSize{
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.Common h2{
  font-size: 14px;
  margin-top: 5px;
}
.Common hr{
  width: 50%;
  margin-top: 5px;
  margin-bottom: 10px;
}
.Common input{
  margin-right: 5px;
}

.CommonSize div input{
  margin-left: 5px;
  height: 20px;
  width: 55px;
  padding: 0 2px;
  color: #848C93;
  font-size: 14px;
}

.DoorOptionsButtons{
  display: flex;
  flex-direction: row;
}

.CommonBeemPost{
  display: flex;
  flex-direction: row;
  justify-content: left;
  min-width: 210px;
  text-align: center;
}
.CommonBeemPost label{
  padding-top: 3px;
  margin-right: 5px;
}

.CommonBeemPost p{
  width: 24px;
  height: 24px;
  border: 1px solid #A8A5A5;
  padding: 0 6px;
  margin-right: 5px;
}

.CommonBeemPost button{
  width: 24px;
  height: 24px;
  border: 1px solid #A8A5A5;
  background: #CDDBE5;
}

.LeftFix{
  margin-left: 7px;
}

.DoorColorBlack{
  width: 35px;
  height: 35px;
  background: black;
  border-radius: 50%;
}

.DoorColorGrey{
  width: 35px;
  height: 35px;
  background: gray;
  border-radius: 50%;
}

.DoorColorWhite{
  width: 35px;
  height: 35px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
}

.CommonColors{
  display: flex;
  flex-direction: row;
}
.CommonColors div{
  transform: translateY(-15px);
  margin-left: 15px;
}